.navProfil {
  display: flex;
  align-items: center;
  border: 0.5px solid rgba(190, 186, 186, 0.237);
  padding-inline: 2rem;
  /* position: fixed;
    width: 37rem; */
}
.user {
  font-size: 18px;
  padding: 0.5rem;
  font-weight: bold;
}
.navProfil--icon {
  padding-right: 1rem;
  width: 2rem;
  height: 2rem;
}
.posts {
  font-size: 15px;
  font-weight: 100;
  color: rgb(178, 174, 174);
}
.cover_profil {
    position: relative;
}
.cover{
    position:relative;
}
.cover-img {
  /* margin-top: 2.6rem; */
  width: 41.2rem;
  height: 15rem;
  /* position: relative; */
}
.profil-avatar {
  border: 2.5px solid black;
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  margin-left:2rem ;
}
.avatar{
    position: absolute;
    bottom: -80px;
}
