.profil{
 border: 0.5px solid rgba(190, 186, 186, 0.237);
}
.navProfil {
  display: flex;
  align-items: center;
  border: 0.5px solid rgba(190, 186, 186, 0.237);
  padding-inline: 2rem;
  /* position: fixed;
    width: 37rem; */
}
.user {
  font-size: 18px;
  padding: 0.5rem;
  font-weight: bold;
}
.navProfil--icon {
  padding-right: 1rem;
  width: 2rem;
  height: 2rem;
}
.posts {
  font-size: 17px;
  font-weight: 100;
  color: rgb(178, 174, 174);
  margin: 0;
  padding: 0;
}

.cover {
  position: relative;
}
.cover-img {
  width: 41.2rem;
  height: 16rem;
}
.profil-avatar {
  border: 3px solid black;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  margin-left: 2rem;
}
.avatar {
  position: absolute;
  bottom: -10px;
  /* display:flex; */
}
.EditProfil {
  /* position: absolute; */
  color: white;
  padding: 0.5rem 1rem;
  margin: 1rem 0 0 31rem;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.EditProfil:hover{
    background-color: rgba(46, 45, 45, 0.514);
}
.profil-info{
  padding-left: 1.5rem;
}
.followers{
  display: flex;
  align-items: center;
 gap: 2.5rem;
}
.menu{
  display: flex;
  justify-content: space-around;
}
.menu_content{
  border: 0.5px solid rgba(190, 186, 186, 0.237);
  padding-inline: 1.5rem;
}

