:root {
  --blue-hover: #147eca;
  --blue: #1d9bf0;
  --text: #ffffff;
}
.bird {
  padding-left: 1rem;
  padding-bottom: 1rem;
  transition: 0.5s;
  cursor: pointer;
}
.bird:hover {
  fill: var(--blue);
}

.side-element {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.side-element:hover {
  background-color: rgba(54, 54, 54, 0.608);
  border-radius: 54rem;
  max-width: auto;
}
.side-title {
  padding-left: 1rem;
}
.side-btn {
  background-color: var(--blue);
  color: var(--text);
  border-style: none;
  padding: 1rem;
  border-radius: 54rem;
  width: 12rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
}
.side-btn:hover {
  background-color: var(--blue-hover);
  color: var(--text);
  border-style: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.side-avatar {
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.bottom-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14rem;
}

.bottom-slide-content {
  display: flex;
  align-items: center;
  width: 70%;
}
.name {
  padding-left: 1rem;
}
