:root {
  --blue: #1d9bf0;
  --text: white;
}
.Tweet {
  border: 0.5px solid rgba(190, 186, 186, 0.237);
  padding-inline: 2rem;
  padding-top: 1rem;
  margin: 0;
}
.react-btn {
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  width: 80%;
  align-items: center;
}
.react {
  padding-left: 0.5rem;
  cursor: pointer;
}
.pub {
  display: flex;

  padding-block: 0;
}
.avatar-pub {
  border-radius: 100%;
  width: 65px;
  height: 65px;
}
.pub-content {
  padding-left: 1rem;
}
.img-pub {
  min-width: 18rem;
  max-width: 32rem;
  min-height: 14rem;
  max-height: 28rem;

  border-radius: 25px;
}

.User-name {
  font-weight: bold;
}
.User-time {
  padding-left: 0.5rem;
}
.identity {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.text {
  padding: 0 0 1rem 0.5rem;
  margin: 0;
}

.reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

/* LES REPLIES */

.replies {
  border: none;
  border-radius: 100%;
  transition: 0.2s;
  padding: 0.4rem;
}
.replies:hover {
  cursor: pointer;
  fill: var(--blue);
  background-color: #1d9cf037;
  /* box-shadow: 0 0 .1rem var(--blue); */
}

.reaction-replies:hover {
  color: var(--blue);
}

/* LES RETWEETS */

.reaction-retweets:hover {
  color: rgb(14, 238, 164);
}
.retweets {
  border: none;
  border-radius: 100%;
  transition: 0.2s;
  padding: 0.4rem;
}
.retweets:hover {
  cursor: pointer;
  fill: rgb(14, 238, 164);
  background-color: rgba(14, 238, 163, 0.323);
}

/* FOVORITES */

.reaction-favorites:hover {
  color: rgb(238, 14, 133);
}
.favorites {
  border: none;
  border-radius: 100%;
  transition: 0.2s;
  padding: 0.4rem;
}
.favorites:hover {
  cursor: pointer;
  fill: #ee0e85;
  background-color: rgba(238, 14, 133, 0.305);
}

/* SHARE */

.share {
  border: none;
  border-radius: 100%;
  transition: 0.2s;
  padding: 0.4rem;
}
.share:hover {
  cursor: pointer;
  fill: var(--blue);
  background-color: #1d9cf037;
  /* box-shadow: 0 0 .1rem var(--blue); */
}
