.Tweet {
  border: 0.5px solid rgba(190, 186, 186, 0.237);
  padding-inline: 2rem;
  padding-top: 1rem;
  margin: 0;
}
.Tweet:hover {
  background-color: rgba(41, 41, 42, 0.655);
}
.react-btn {
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  width: 80%;
  align-items: center;
}
.react{
  padding-left:.5rem ;
}
.pub {
  display: flex;
  align-items: center;
  padding-block: 0;
}
.avatar-pub {
  border-radius: 100%;
  width: 65px;
  height: 65px;
}
.pub-content {
  padding-left: 4rem;
}
.img-pub {
  min-width: 18rem;
  max-width: 32rem;
  min-height:14rem ;
  max-height: 28rem;
 
  border-radius: 25px;
}
.reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.User-name {
  font-weight: bold;
}
.User-time {
  padding-left: 0.5rem;
}
