
:root {
  --blue: #1d9bf0;
  --text:white;
}

body {
  background-color: black;
  padding-inline: 16rem;
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
.disposition {
  display: flex;
  justify-content: space-between;
}
.home-app{
  width: 50%;
  padding-left: 16rem;
}
.side-left{
  padding-top: 1.7rem;
  position: fixed;
}

